{{#each @details as |detail|}}
  <div class='d-flex justify-content-center mt-5' style='width: 100;'>
    <div class='card shadow-lg custom_width' style='width: 90%;'>
      <div class='row'>
        <div class='col-6 d-flex align-items-center'>
          <img src={{detail.src}} class='card-img h-100'/></div>
        <div class='col-6'>
          <h3 class='card-text'>House {{detail.number}}</h3>
          <div class='card-text d-flex justify-content-between'>{{detail.place}}
            <i
              style="cursor: pointer;"
              class='gg-trash me-5 pointer'
              {{on 'click' (fn this.delete detail)}}
            ></i></div>
          <div class='card-text mt-5'>No.of Guest: {{detail.noofguest}}</div>
          <div class='badge text-bg-primary mt-4'><strong
            >{{detail.rating}}</strong>
            ☆
          </div>
          <div class='d-flex justify-content-between align-items-end mt-2 mb-2'>
            <span>{{detail.rent}}</span>
            <span class='me-2'>
              <button type="button" class="btn btn-danger" {{on 'click' (fn this.detailbutton detail.id)}}>Details</button>
                <button
                  class='btn btn-danger'
                  type='button'
                {{on 'click' (fn this.bookbutton detail.id)}}>Book</button></span>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}